*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 245, 245));
}
.row{
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 245, 245));
    background-color: azure;    
    width: 100%;
    height: 100vh;
}
form{
    margin-top: 25px;
    text-align: center;
    position: relative;
}
section{
    padding: 25px;
}
.logo{
    margin: 50px 10px;
}
.picdiv{
    height: 300px;
    background: url(images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
picture{
    display: block;
    object-fit: cover;
}
h1{
    font-weight: 500;
    font-size: 50px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin: 50px;
    text-align: center;
    line-height: 1;
}
span{
    font-weight: 300;
    color: rgb(206, 151, 151);
}
h1:hover,h2:hover{
    font-size: 55px;
}
p{
    color: rgb(206, 151, 151);
    font-weight: 300;
    margin-bottom: 25px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 15px;
}
::placeholder{
    color: rgb(206, 151, 151);
}
input,button{
    height: 50px;
    border-radius: 50px;
    border: 0.5px solid rgb(206, 151, 151);
}
input{
    width: 90%;
    padding-left: 25px;
    background: transparent;
    margin-top: 25px;
}
button{
    width: 20%;
    margin-left: -40px;
    text-align: center;
    background-image: linear-gradient(to right,rgb(248, 191, 191), rgb(238, 140, 140));
    color: transparent;
    box-shadow: 1px 1px 10px grey;
    text-align: center;
    position: absolute;
    top: 25px;
}
button:hover{
    transform: scale(1.05);
    background-image: linear-gradient(to right,rgb(247, 197, 197), rgb(230, 165, 165));
}
.d1{
    color:red;
    margin-left: 35px;
    margin-top: 10px;
    position: absolute;
    bottom: 50px;
}
.show{
    display:none;
}
.sp{
    display: block;
    position: absolute;
    right: 100px;
    bottom: 85px;
}
section section{
    height: 200px;
    position: relative;
}
.arrow{
    width: 15%;
}

*:focus{
    outline: none;
}

@media (min-width:767px) {
    .picdiv,section{
        width: 50%;
        float: right;
    }
    .picdiv{
        height: 100vh;
        background: url(images/hero-desktop.jpg);
        background-repeat: no-repeat;
        background-size:cover;
    }
    section:not(section section){
        margin-top: 200px;
        padding: 50px;
    }
    h1{
        text-align: left;
        margin-left: 0;
    }
    p,input{
        margin-left: 0;
    }
    .logo{
        position: absolute;
        top: 80px;
        left: 40px;
    }
    section section{
        width: 100%;
    }
}

