@font-face {
    font-family: Lexend Deca;
    src: url(https://fonts.google.com/specimen/Lexend+Deca);
    font-weight: 400;
}

@font-face {
    font-family: Big Shoulders Display;
    src: url(https://fonts.google.com/specimen/Big+Shoulders+Display);
    font-weight: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    background-color: hsl(0, 0%, 95%);
}

section{
    padding: 25px;
    color: hsla(0, 0%, 100%, 0.75);
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    height: 500px;
    font-family: Lexend Deca;
}

button{
    background-color:hsl(0, 0%, 95%);
    border-radius: 50px;
    width: 100px;
    padding: 10px;
    position: absolute;
    bottom: 10px;
}

img{
    width: 25%;
    margin-bottom: 15%;
}

h2{
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-family: Big Shoulders Display;
}

.sedan{
    background-color: hsl(31, 77%, 52%);
}

.suv{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
}

.sedan button{
    color: hsl(31, 77%, 52%);
    border: 1px solid;
}

.suv button{
    color: hsl(184, 100%, 22%);
    border: 1px solid;
}

.luxury button{
    color: hsl(179, 100%, 13%);
    border: 1px solid;
}

.row {
    width: 100%;
    padding: 13% 20%;
}

@media (min-width: 751px){
    .col-lg-4{
        float:  left;
	    width: 33.33333333%;
        
    }

    section:nth-child(1){
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    section:nth-child(3){
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    
}

@media (max-width: 750px){
    .col-sm-12{
	float:  left;
	width: 99%;
    margin-left: 5%;
    margin-right: 5%;
    }


    section:nth-child(1){
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    section:nth-child(3){
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}



.attribution {
    font-size: 11px; text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}